body,html
{
    height: 100%;
}
.goods_item:hover{
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition:  2s;
	transition:  2s;
	background: rgba(238, 238, 238, 0.8);
	border-radius: 5px;
}
.goods_item{
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition:  2s;
	transition:  2s;
	background: rgba(238, 238, 238, 0.0);
	border-radius: 5px;
}
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	.row-offcanvas-right {
		right: 0;
	}
	.row-offcanvas-left {
		left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}
	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}
	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}

.block
{
    padding: 0px 0px 0px 0px;
    background-color: #F8F8F8;
    overflow: auto;
}
.block_header
{
    background-color: #222222;
    color: #ffffff;
}
.block_inner
{
    color: #000000;
    padding-left: 30px;
padding-top: 10px;
padding-bottom: 10px;
}
.block_inner a{
    color: #000000;
    text-decoration: none;
}
.block_inner a:hover
{
    color: #595959;
}
.block_inner a:active
{
    margin-top: 2px;
    color: #000000;
}
.footer
{
    height: 50px;
    overflow: auto;
    background: rgb(60,60,60); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(60,60,60,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(60,60,60,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

    border: 1px solid #000000 !important;
    color:#ffffff;
    padding-top:18px;
    z-index: 99;
}
.footer a {
    text-decoration: none;
    color: #ffffff;
}
.footer div.signature
{
    padding: .2em .6em .3em;
    font-size: 80%;
    width: 200px;
    border-radius: 3px 3px 0px 0px;
    padding-bottom: 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #d9534f;
    font-weight: 700;
}
.cart_hat
{
    border-radius: 3px 3px 0px 0px;
    overflow: auto;
    background: rgb(60,60,60); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(60,60,60,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(60,60,60,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
    border: 1px solid #000000 !important;
    color:#999999;
    padding-top:12px;
    z-index: 99;
}
.cart_bar
{
    background-color: #999999;
    overflow: auto;
}
.cart_item
{
    height: 32px;
    padding: 0px 0px 0px 0px !important;
    border-top:none;
    border-bottom:none;
    border-left:1px solid black;
    border-right:1px solid black;
    background-color: #cacaca;
}
.cart_item:hover
{
    background-color: #3c3c3c !important;
}
.cart_item a
{
    color: #000000;
}
.cart_item a:hover
{
    color: #ffffff;
}
.cart_footer
{
 height: 40px;
    display: block;
    background-color: #222222;
    overflow: auto;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: #ececec;
    border-radius: 0px 0px 3px 3px;
}
.cart_item_name
{
    line-height: 24px;
padding: 4px;
    overflow: hidden;
text-align: left;
    padding-left: 10px;
}
.cart_item_button
{
    padding: 6px;
    font-size: 18px;
    color: #000000;
}
.cart_item_button:hover
{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color: #ff0000;
}
.cart_button
{
    overflow: auto;
}
.cart_button_green
{
    background-color: #222222;
    padding: 10px;
    overflow: auto;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #ececec;
}
.cart_button_green:hover
{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background: rgba(20,181,57,1);
    background: -moz-linear-gradient(top, rgba(20,181,57,1) 0%, rgba(7,79,0,1) 77%, rgba(7,79,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,181,57,1)), color-stop(77%, rgba(7,79,0,1)), color-stop(100%, rgba(7,79,0,1)));
    background: -webkit-linear-gradient(top, rgba(20,181,57,1) 0%, rgba(7,79,0,1) 77%, rgba(7,79,0,1) 100%);
    background: -o-linear-gradient(top, rgba(20,181,57,1) 0%, rgba(7,79,0,1) 77%, rgba(7,79,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,181,57,1) 0%, rgba(7,79,0,1) 77%, rgba(7,79,0,1) 100%);
    background: linear-gradient(to bottom, rgba(20,181,57,1) 0%, rgba(7,79,0,1) 77%, rgba(7,79,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14b539', endColorstr='#074f00', GradientType=0 );
}
.cart_button_red
{
    padding: 10px;
    overflow: auto;
    background-color: #222222;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-radius: 0px 0px 3px 3px;
    color: #ececec;
}
.cart_button_red:hover
{
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear;
    background: rgba(179,22,22,1);
    background: -moz-linear-gradient(top, rgba(179,22,22,1) 0%, rgba(77,0,0,1) 77%, rgba(77,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,22,22,1)), color-stop(77%, rgba(77,0,0,1)), color-stop(100%, rgba(77,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(179,22,22,1) 0%, rgba(77,0,0,1) 77%, rgba(77,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(179,22,22,1) 0%, rgba(77,0,0,1) 77%, rgba(77,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(179,22,22,1) 0%, rgba(77,0,0,1) 77%, rgba(77,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(179,22,22,1) 0%, rgba(77,0,0,1) 77%, rgba(77,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31616', endColorstr='#4d0000', GradientType=0 );
}
.middle
{
    overflow: auto;
    color: #ffffff;
    -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.32),inset 0px -5px 5px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.32), inset 0px -5px 5px 0px rgba(0,0,0,0.32);
    box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.32),inset 0px -5px 5px 0px rgba(0,0,0,0.32);
    background-color: #3c3c3c;
    padding: 40px;
    /*height: 100% !important;*/
    min-height: 1080px
}